:root{
  --elements-dm: hsl(209, 23%, 22%);
  --bg-dm:hsl(207, 26%, 17%);
  --text-dm: hsl(0, 0%, 100%);
  --text-lm: hsl(200, 15%, 8%);
  --input-lm: hsl(0, 0%, 52%);
  --bg-lm: hsl(0, 0%, 98%);
  --elements-lm:  hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
}

/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */